body {
	font-family: 'Open Sans', sans-serif;
	color: black;
}
/* Style Header par Julie */

#headerContainer{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/* Barre de Nav Mobile */

#headerContainer #navMobile{
	display: none;
}

/* 1er image avec bouton */
#headerContainer #intro{
	width: 100%;
	height: 700px;
	background: url("../images/home_main_desktop.jpg") center no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#headerContainer #intro h1{
	background: white;
	font-size: 15px;
	letter-spacing: 0.2rem;
	padding: 15px 30px;
	transition: 0.7s;
}

#headerContainer #intro i{
	color: white;
	font-size: 30px;
	transition: 0.7s;
}

/* 1ere barre de Nav */

#headerContainer #nav01{
	width: 100%;
	height: 50px;
	background: #030708;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

#headerContainer #nav01 #Free{
	margin: 0;
	color: white;
	font-size: 10px;
}

#headerContainer #nav01 #accountCart a{
	margin: 0;
	text-decoration: none;
	color: white;
	font-size: 10px;
}

/* 2eme barre de Nav */

#headerContainer #nav02{
	margin: 0 auto;
	width: 55%;
	height: 150px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#headerContainer #nav02 a{
	margin: 0;
	text-decoration: none;
	color: black;
	font-size: 14px;
	padding: 10px 20px;
}

#headerContainer #nav02 img{
	width: 170px;
	align-self: flex-start;
	margin: 10px 50px;
}

/* MAIN Loïs */
main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
/* GRANDE SECTION 1  */
main .premiereSection {
	background: rgb(236, 236, 236);
	height: 45vh;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}
/* CONTAINERGRIS POUR ALIGNEMENTS */
main .premiereSection .containerGris {
	width: 55%;
	margin: 0 auto;
	height: 40vh;
	display: flex;
	justify-content: space-between;
}
/* ARTICLE */
main .premiereSection .containerGris article {
	background: white;
	height: 35vh;
	width: 30%;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-top: 3px solid black;
	border-bottom: 3px solid black;
}
main .premiereSection .containerGris article img {
	width: 100%;
}
main .premiereSection .containerGris article a {
	text-decoration: none;
	font-size: 9px;
	font-weight: bolder;
	color: black;
	margin-top: 5%;
}
/* GRANDE SECTION 2  */
main .deuxiemeSection {
	height: 65vh;
	background: url(../images/slideshow-1.jpg);
	background-repeat: no-repeat;
	background-size: contain;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
/* CONTAINERPHOTO POUR ALIGNEMENTS */
main .deuxiemeSection .containerPhoto {
	width: 55%;
	margin: 0 auto;
	height: 35vh;
	display: flex;
	justify-content: flex-end;
	padding: 2% 0 0 0;
}
/* ARTICLE  */
main .deuxiemeSection .containerPhoto article {
	width: 37%;
	height: 35vh;
	background: white;
	border-top: 3px solid black;
	border-bottom: 3px solid black;
	padding: 0 2% 0 2%;
}
main .deuxiemeSection .containerPhoto article h2 {
	font-size: 16px;
}
main .deuxiemeSection .containerPhoto article p {
	font-size: 10px;
}
main .deuxiemeSection .containerPhoto article a {
	text-decoration: none;
	color: black;
	font-size: 12px;
}
main .deuxiemeSection i {
	font-size: 30px;
	color: white;
}


/* RESPONSIVE */
  

footer {
	display: flex;
	flex-direction: column;
	width:55%;
	margin: 0 auto;
}

.sprite {
	margin: 2rem auto;
	width: calc(1010px / 9);
	height: 116px;
	background: url(../images/oiseau.png);
	animation: animate 1s steps(9) infinite;
}
@keyframes animate {
	from { background-position: 0 ;}
	to   { background-position: 1010px ;}
}

footer article {
	text-transform: uppercase;
}

footer img {
	width: 35rem;
	margin: 3rem auto 3rem auto;
}

footer div {
	display: flex;
	justify-content: space-between;
}

footer div:last-of-type {
	display: flex;
	justify-content: space-between;
	margin-top: 5rem;
	border-top: 1px solid grey;
	padding-top: 1rem;
	color: grey;
}

footer p {
	color:grey;
}

footer .fa {
	font-size: 2.5rem;
}

@media screen and (max-width: 400px) {
		/* Responsive Header par Julie */

		/* Barre de Nav Mobile */

		#headerContainer #navMobile{
			width: 100%;
			height: 150px;
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
	
		#headerContainer #navMobile img{
			width: 40%;
		}
	
		#headerContainer #navMobile i{
			font-size: 30px;
			margin: 0 20px;
		}
		
		/* 1er image avec bouton */
		#headerContainer #intro{
			background: url("../images/home_main_mobile.jpg") center no-repeat;
			background-size: cover;
		}
	
		#headerContainer #intro h1{
			transition: none;
		}
		
		#headerContainer #intro i{
			transition: none;
		}
	
		/* 1ere barre de Nav */
	
		#headerContainer #nav01{
			justify-content: center;
		}
	
		#headerContainer #nav01 #accountCart a{
			display: none;
		}
		
		/* 2eme barre de Nav */
		
		#headerContainer #nav02{
			display: none;
		}
	
		/* SECTION 1 reponsive */
	main .premiereSection {
		background: white;
		height: auto;
		width: auto;
		justify-content: center;
		align-items: center;
	}
	main .premiereSection .containerGris {
		width: auto;
		margin: 0;
		height: auto;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	main .premiereSection .containerGris article {
		margin: 0 5% 5% 5%;
		height: auto;
		width: auto;
		justify-content: center;
		border-top: none;
		border-bottom: 2px solid black;
	}
	
	main .premiereSection .containerGris article a {
		font-size: 9px;
		margin-top: 5%;
		margin-bottom: 5%;
	}
	/* DEUXIEME SECTION responsive */
	main .deuxiemeSection {
		height: auto;
		background: rgb(233, 233, 233);
		justify-content: center;
	}
	/* DESACTIVE FLECHE DE CHAQUE COTE  */
	main .deuxiemeSection i {
		display: none;
	}
	main .deuxiemeSection .containerPhoto {
		width: auto;
		margin: 0;
		height: auto;
		justify-content: center;
		align-items: center;
		padding: 0;
	}
	main .deuxiemeSection .containerPhoto article {
		width: 86%;
		height: auto;
		border-top: none;
		border-bottom: 2px solid black;
		padding: 0 2% 2% 2%;
		margin: 2% 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	main .deuxiemeSection .containerPhoto article p {
		font-size: 10px;
		text-align: center;
	}
	

	footer div {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	}

	footer article {
		width: 45%;
	}
}
/* Hover sur le bouton et le chevron */
	
@media screen and (min-width: 500px){
	#headerContainer #intro h1:hover{
		opacity: 0.6;
		transform: scale(1.2);
	}

	#headerContainer #intro i:hover{
		opacity: 0.6;
		transform: scale(1.2);
	}
}
