body{
	font-family: 'Open Sans', sans-serif;
	color: black;
}

/* Style Header par Julie */

#headerContainer{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/* Barre de Nav Mobile */

#headerContainer #navMobile{
	display: none;
}

/* 1er image avec bouton */
#headerContainer #intro{
	width: 100%;
	height: 700px;
	background: url("../images/home_main_desktop.jpg") center no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#headerContainer #intro h1{
	background: white;
	font-size: 15px;
	letter-spacing: 0.2rem;
	padding: 15px 30px;
	transition: 0.7s;
}

#headerContainer #intro i{
	color: white;
	font-size: 30px;
	transition: 0.7s;
}

/* 1ere barre de Nav */

#headerContainer #nav01{
	width: 100%;
	height: 50px;
	background: #030708;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

#headerContainer #nav01 #Free{
	margin: 0;
	color: white;
	font-size: 10px;
}

#headerContainer #nav01 #accountCart a{
	margin: 0;
	text-decoration: none;
	color: white;
	font-size: 10px;
}

/* 2eme barre de Nav */

#headerContainer #nav02{
	margin: 0 auto;
	width: 55%;
	height: 150px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#headerContainer #nav02 a{
	margin: 0;
	text-decoration: none;
	color: black;
	font-size: 14px;
	padding: 10px 20px;
}

#headerContainer #nav02 img{
	width: 170px;
	align-self: flex-start;
	margin: 10px 50px;
}

/* Responsive Header par Julie */

@media screen and (max-width: 400px){

	/* Barre de Nav Mobile */

	#headerContainer #navMobile{
		width: 100%;
		height: 150px;
		display: flex;
		justify-content: space-between;
		align-items: center;
}

	#headerContainer #navMobile img{
		width: 40%;
	}

	#headerContainer #navMobile i{
		font-size: 30px;
		margin: 0 20px;
	}
	
	/* 1er image avec bouton */
	#headerContainer #intro{
		background: url("../images/home_main_mobile.jpg") center no-repeat;
		background-size: cover;
	}

	#headerContainer #intro h1{
		transition: none;
	}
	
	#headerContainer #intro i{
		transition: none;
	}

	/* Hover bouton et chevron */



	/* 1ere barre de Nav */

	#headerContainer #nav01{
		justify-content: center;
	}

	#headerContainer #nav01 #accountCart a{
		display: none;
	}
	
	/* 2eme barre de Nav */
	
	#headerContainer #nav02{
		display: none;
	}
}

/* Hover sur le bouton et le chevron */

@media screen and (min-width: 500px){
	#headerContainer #intro h1:hover{
		opacity: 0.6;
		transform: scale(1.2);
	}

	#headerContainer #intro i:hover{
		opacity: 0.6;
		transform: scale(1.2);
	}	
}